@model ITCAir.Web.Models.Reservations.EmailConfirmViewModel
@using ITCAir.Web.GlobalConstants
@{
    ViewData["Title"] = "Thank you for your reservation";
}

    <div class="white-groupbox text-center">
        <h2>Thank you for your reservation</h2>
        @if (ConfirmEmail.EmailConfirmed)
        {
            <hr />
            <p>Your Reservation has been confirmed</p>
            <br />
            <form method = "get" asp-controller="Reservations" asp-action="Index">
                <div class="form-group" style="vertical-align:central">
                    <input type="submit" id="CRUDButton" class="btn btn-light" value="Return to Home Page" />
                </div>
            </form>
        }
    </div>

@if (!ConfirmEmail.EmailConfirmed)
{
    <div class="row">
        <div class="col-3"></div>
        <div class="form-row gradient-groupbox col-6" style="margin-top:20px; padding: 10px 20px 5px 20px; border-radius: 10px;">
            <div style="width:100%">
                <h2 style="text-align:center; color:white;">Confirm your email</h2>
                <hr />

                <form class="text-center" asp-controller="Reservations" asp-action="CheckEmailConfirm">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="form-group col-8">
                            <label style="text-align:center;" asp-for="EnteredNumber" class="control-label" for="inputFrom">Confirmation Code</label>
                            <input asp-for="EnteredNumber" class="form-control" id="inputFirstName">
                            <span asp-validation-for="EnteredNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Submit Code" class="btn btn-light" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}