@using ITCAir.Web.Controllers
@{
    ViewData["Title"] = "ThanksForReservation";
}

<h1>Thanks for your reservation</h1>
<p>Please Confirm your reservation by your email</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Return to Home Page</a>

