@model ITCAir.Web.Models.User.EditUserViewModel

@{
    ViewData["Title"] = "Create user";
}

<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 gradient-groupbox">
        <h2 style="text-align: center; color: white;">
            Edit user (@Model.Username)
        </h2>
        <h6 style="text-align: center; color: white; opacity: 0.8; font-size: 14px;">
            Edit an existing ITCAir employee
        </h6>
        <hr style="background: radial-gradient( #fff, #c82076)" />
        <form method="post" asp-controller="Users" asp-action="EditUser">
            <div>
                <div class="row">
                    <div class=" form-group col-md-6">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="LastName" class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" title="E-mail" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PersonalId" class="control-label">Personal ID</label>
                        <input asp-for="PersonalId" class="form-control" />
                        <span asp-validation-for="PersonalId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                @{
                    if (!string.IsNullOrEmpty(ViewData["Unique"].ToString()))
                    {
                        <p class="text-danger" style="color:white; text-align:center; padding-bottom:10px">@ViewData["Unique"]</p>
                    }
                }
                <div class="form-group" style="text-align:center; margin-top: 10px">
                    <input type="submit" value="Save Changes" class="btn btn-light" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}