@model ITCAir.Web.Models.User.UserSignInViewModel 
@{
    ViewData["Title"] = "Sign in";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 gradient-groupbox">
        <h2 style=" text-align: center; color: white">
            Sign in
        </h2>
        <h6 style="text-align: center; color: white; opacity: 0.8; font-size: 14px;">
            Note: This is for existing ITCAir employees only!
        </h6>
        <hr style="background: radial-gradient( #fff, #c82076)" />
        <form asp-controller="Users" asp-action="SignIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input style="" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            @{
                if (string.IsNullOrEmpty(ViewData["Message"].ToString()))
                {
                    <div class="form-group" style="padding-bottom: 20px;">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                }
            }

            @{
                if (!string.IsNullOrEmpty(ViewData["Message"].ToString()))
                {
                    <p style="color:white; text-align:center; padding-bottom:10px">@ViewData["Message"]</p>
                }
            }
            <div class="form-group text-center">
                <input type="submit" value="Sign in" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}