@{
    ViewData["Title"] = "Users";
}

<div class="white-groupbox">
    <form asp-controller="Users" asp-action="CreateUser">
        <div class="form-group" style="text-align:center;">
            <input formmethod="get" type="submit" value="Create user" class="btn btn-light" />
        </div>
    </form>
</div>