@model ITCAir.Web.Models.User.AllUsersViewModel;
@using ITCAir.Web.Models.User;
@{
    ViewData["Title"] = "Users";
}

<div class="white-groupbox" style="padding: 10px 10px 10px 10px">
    <form asp-controller="Users" asp-action="CreateUser">
        <div class="form-group" style="text-align:center;">
            <input formmethod="get" id="createUserButton" type="submit" value="Create user" class="btn btn-primary" />
        </div>
    </form>

    <table class="table-striped table table-hover" style="border: solid 2px purple;">
        <thead style="color: #fff; background-color: purple; border: solid 3px purple;">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserInfoViewModel user in Model.AllUsers)
            {
                if (user.Username != "admin")
                {
                    <tr>
                        <td>
                            @user.FirstName
                        </td>
                        <td>
                            @user.LastName
                        </td>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            <div class="row text-center" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                                <form asp-controller="Users" asp-action="UserDetails" asp-route-username=@user.Username>
                                    <input id="createUserButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Details" class="btn btn-primary btn-sm" />
                                </form>
                                <form asp-controller="Users" asp-action="EditUser" asp-route-username=@user.Username>
                                    <input formmethod="get" id="createUserButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Edit" class="btn btn-primary btn-sm" />
                                </form>
                                <form asp-controller="Users" asp-action="DeleteUser" asp-route-username=@user.Username>
                                    <input id="createUserButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Delete" class="btn btn-primary btn-sm" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>