<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("#password2").keyup(validate);
        });


        function validate() {
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();



            if (password1 == password2) {
                $("#validate-status").text("valid");
            }
            else {
                $("#validate-status").text("invalid");
            }

        }

    </script>
</head>
<body>
    <input id="password1" type="password" />
    <br />
    <input id="password2" type="password" />
    <p id="validate-status"></p>
</body>
</html>