@using ITCAir.Web.Models.Passengers
@model PassengerInfoViewModel
@using ITCAir.Data.Enum
@using ITCAir.Web.GlobalConstants

@{
    ViewData["Title"] = "Passenger Details";
    int peopleToRegister = ModelClass.PassengersCount;

}

@{
    if (ModelClass.Passengers.Count > 0)
    {
        <div class="white-groupbox text-center">
            @foreach (var Passenger in ModelClass.Passengers)
            {

                <h3>Passenger @Passenger.FirstName @Passenger.FirstName Registered</h3>
                <hr />
            }
        </div>
    }
}

@for (int i = 0; i < peopleToRegister; i++)
{

    <div class="gradient-groupbox" style=" margin-top:20px; padding: 10px 20px 5px 20px; border-radius: 10px; margin-bottom:20px;">
        <div>
            <h2 style="text-align:center; color:white">Passenger #@(i + 1)</h2>
            <hr />
            <form asp-controller="Passengers" asp-action="ProcessPassengerInfo">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="FirstName" class="control-label" for="inputFrom">First Name</label>
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MiddleName" class="control-label" for="inputTo">Middle Name</label>
                        <input asp-for="MiddleName" class="form-control" id="inputMiddleName">
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="LastName" class="control-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" id="inputLastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="Egn" class="control-label">Personal Id</label>
                        <input asp-for="Egn" class="form-control" id="inputEgn">
                        <span asp-validation-for="Egn" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="PhoneNumber" class="control-label">Phone</label>
                        <input asp-for="PhoneNumber" class="form-control" id="inputPhone" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Nationality" class="control-label"></label>
                        <input asp-for="Nationality" class="form-control" id="inputNationality" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Ticket" class="control-label">Ticket Type</label>
                        @Html.DropDownList("Ticket", Html.GetEnumSelectList<TicketType>(), new { @class = "form-control" })
                        <span asp-validation-for="Ticket" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <input style="height:100%; width:100%" type="submit" value="Register" class="btn btn-light" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@if (peopleToRegister == 0)
{
    <div class="row">
        <div class="col-3"></div>
        <div class="form-row gradient-groupbox col-6" style="margin-top:20px; padding: 10px 20px 5px 20px; border-radius: 10px;">
            <div style="width:100%">
                <h2 style="text-align:center; color:white;">Complete registration</h2>
                <hr />

                <form class="text-center" asp-controller="Passengers" asp-action="SendEmail">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="form-group col-8">
                            <label style="text-align:center;" asp-for="ConfirmEmail" class="control-label" for="inputFrom">Email</label>
                            <input asp-for="ConfirmEmail" class="form-control" id="inputFirstName">
                            <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                        </div>
                    </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Send Email" class="btn btn-light" />
                        </div>
                </form>
            </div>
        </div>
    </div>
}



