@using ITCAir.Web.Models.Passengers
@model PassengerInfoViewModel
@using ITCAir.Data.Enum
@using ITCAir.Web.GlobalConstants

@{
    ViewData["Title"] = "PassangersInfo";
    int peopleToRegister = ModelClass.PassengersCount;

}

@foreach (var Passenger in ModelClass.Passengers)
{
    <h1>Passenger @Passenger.FirstName @Passenger.FirstName Registered</h1>
}

@for (int i = 0; i < peopleToRegister; i++)
{
    <h1>PassangersInfo</h1>
    <form asp-controller="Passengers" asp-action="ProcessPassengerInfo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row gradient-groupbox" style="padding: 10px 10px 5px 5px; border-radius: 10px;">
            <div class="form-group col-md-2">
                <label asp-for="FirstName" class="control-label" for="inputFrom">First Name</label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="MiddleName" class="control-label" for="inputTo">Middle Name</label>
                <input asp-for="MiddleName" class="form-control" id="inputMiddleName">
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" id="inputLastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Egn" class="control-label">Egn</label>
                <input asp-for="Egn" class="form-control" id="inputEgn">
                <span asp-validation-for="Egn" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="PhoneNumber" class="control-label">Phone</label>
                <input asp-for="PhoneNumber" class="form-control" id="inputPhone" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" id="inputNationality" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Ticket" class="control-label">TicketType</label>
                @Html.DropDownList("Ticket", Html.GetEnumSelectList<TicketType>(), new { @class = "form-control" })
                <span asp-validation-for="Ticket" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1 justify-content-end">
                <input style="align-self: baseline;" type="submit" value="Go!" class="btn btn-light" />
            </div>
        </div>
        <p>
    </form>
}
@if (peopleToRegister == 0)
{
    <h1>Email to complete registration</h1>
    <form asp-controller="Passengers" asp-action="SendEmail">
        <div class="form-row gradient-groupbox" style="padding: 10px 10px 5px 5px; border-radius: 10px;">
            <div class="form-group col-md-3">
                <label asp-for="ConfirmEmail" class="control-label" for="inputFrom">Email</label>
                <input asp-for="ConfirmEmail" class="form-control" id="inputFirstName">
                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1 justify-content-end">
                <input style="align-self: baseline;" type="submit" value="SendEmail" class="btn btn-light" />
            </div>
        </div>
    </form>
}



